


<div class="row">
  <div class="col-sm-6">
    <h1>Outgoinginvoices</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_outgoinginvoice_path, class: 'btn btn-primary' do %>
    Add New Outgoinginvoice
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table id = "example" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Number</th>
            <th>Date</th>
            <th>Customer</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @outgoinginvoices.each do |outgoinginvoice| %>
        <%= content_tag :tr, id: dom_id(outgoinginvoice), class: dom_class(outgoinginvoice) do %>
          

                      <td><%= outgoinginvoice.number %></td>
                      <td><%= outgoinginvoice.date %></td>
                      <td><%= outgoinginvoice.customer %></td>
          
          
            <td><%= link_to 'Show', outgoinginvoice %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
