


<div class="row">
  <div class="col-sm-6">
    <h1>Customers</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_customer_path, class: 'btn btn-primary' do %>
    Add New Customer
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table id = "example" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Email</th>
            <th>Tel</th>
            <th>Address</th>
            <th>Customercategory</th>
            
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <%= content_tag :tr, id: dom_id(customer), class: dom_class(customer) do %>
          
            <td><%= link_to customer.name, customer %></td>
          

                      <td><%= customer.email %></td>
                      <td><%= customer.tel %></td>
                      <td><%= customer.address %></td>
                      <td><%= customer.customercategory %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
