


<div class="row">
  <div class="col-sm-6">
    <h1>Payments</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_payment_path, class: 'btn btn-primary' do %>
    Add New Payment
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Amount</th>
            <th>Description</th>
            <th>Paymenttype</th>
            <th>Incominginvoice</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
        <%= content_tag :tr, id: dom_id(payment), class: dom_class(payment) do %>
          

                      <td><%= payment.amount %></td>
                      <td><%= payment.description %></td>
                      <td><%= payment.paymenttype %></td>
                      <td><%= payment.incominginvoice %></td>
          
          
            <td><%= link_to 'Show', payment %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
