<div class="page-header">
  <%= link_to payments_path, class: 'btn btn-default' do %>
    All Payments
  <% end %>
  <%= link_to edit_payment_path(@payment), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show payment</h1>
</div>

<dl class="dl-horizontal">
  <dt>Amount:</dt>
  <dd><%= @payment.amount %></dd>

  <dt>Description:</dt>
  <dd><%= @payment.description %></dd>

  <dt>Paymenttype:</dt>
  <dd><%= @payment.paymenttype %></dd>

  <dt>Incominginvoice:</dt>
  <dd><%= @payment.incominginvoice %></dd>

</dl>
