<div class="page-header">
  <%= link_to brands_path, class: 'btn btn-default' do %>
    All Brands
  <% end %>
  <%= link_to edit_brand_path(@brand), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show brand</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @brand.name %></dd>

  <dt>Description:</dt>
  <dd><%= @brand.description %></dd>

  <dt>Productcategory:</dt>
  <dd><%= @brand.productcategory %></dd>

  <dt>Supplier:</dt>
  <dd><%= @brand.supplier %></dd>

</dl>
