<div class="page-header">
  <%= link_to products_path, class: 'btn btn-default' do %>
    All Products
  <% end %>
  <%= link_to edit_product_path(@product), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show product</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @product.name %></dd>

  <dt>Description:</dt>
  <dd><%= @product.description %></dd>

  <dt>Unit:</dt>
  <dd><%= @product.unit %></dd>

  <dt>Unit price:</dt>
  <dd><%= @product.unit_price %></dd>

  <dt>Count:</dt>
  <dd><%= @product.count %></dd>

  <dt>Retail price:</dt>
  <dd><%= @product.retail_price %></dd>

  <dt>Dimensions:</dt>
  <dd><%= @product.dimensions %></dd>

</dl>
