


<div class="row">
  <div class="col-sm-6">
    <h1>Suppliers</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_supplier_path, class: 'btn btn-primary' do %>
    Add New Supplier
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Email</th>
            <th>Tel</th>
            <th>Address</th>
            
      </tr>
    </thead>

    <tbody>
      <% @suppliers.each do |supplier| %>
        <%= content_tag :tr, id: dom_id(supplier), class: dom_class(supplier) do %>
          
            <td><%= link_to supplier.name, supplier %></td>
          

                      <td><%= supplier.email %></td>
                      <td><%= supplier.tel %></td>
                      <td><%= supplier.address %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
